<div class="container">
  <h1 class="pageTitle">Upload je video en laat je vorm gratis checken door professionals</h1>

  <div class="heroHome">

    <div class="signupWrapper">
      <div class="sporters">
        <h3>Voor sporters</h3>
        <ul>
          <li>Laat je vorm beoordelen</li>
          <li>Wordt nog beter</li>
          <li>Reageer op videos</li>
          <li>Maak er gratis gebruik van</li>
        </ul>
        <a class="sporterBtn" href="/register">Inschrijven als sporter </a>



      </div>
      <div class="personalTrainers">
        <h3>Maak sporten veiliger</h3>
        <ul>
          <li>Geef tips aan sporters</li>
          <li>Bouw een community</li>
          <li>Krijg nieuwe klanten</li>
          <li>Slechts €9,99 per maand</li>
        </ul>
        <a class="professionalBtn" href="/register">Inschrijven als Personal trainer </a>

      </div>


    </div>
  </div>

</div>

<footer>
  <div class="container">
    <h2>Voor professionals</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras orci libero, sodales et justo at, ultrices
      scelerisque arcu. Sed ut dolor tortor. Phasellus finibus consectetur lectus ac efficitur. Donec dapibus odio sed
      tortor rutrum, in mollis justo scelerisque. Sed tincidunt dui nec lectus sodales, pharetra malesuada nulla
      egestas. Suspendisse mauris odio, tincidunt sed odio et, feugiat feugiat mi. Nullam porta condimentum sapien,
      placerat maximus neque placerat nec.</p>

    <h2>Over ons</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras orci libero, sodales et justo at, ultrices
      scelerisque arcu. Sed ut dolor tortor. Phasellus finibus consectetur lectus ac efficitur. Donec dapibus odio sed
      tortor rutrum, in mollis justo scelerisque. Sed tincidunt dui nec lectus sodales, pharetra malesuada nulla
      egestas. Suspendisse mauris odio, tincidunt sed odio et, feugiat feugiat mi. Nullam porta condimentum sapien,
      placerat maximus neque placerat nec.</p>
  </div>

</footer>
